<% if (theme.verifyPassword && theme.verifyPassword.enable) { %>
<script src="<%- url_for(theme.libs.js.crypto) %>"></script>
<script>
    (function() {
        let pwd = '<%- page.password %>';
        if (pwd && pwd.length > 0) {
            if (pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                alert('<%- theme.verifyPassword.errorMessage %>');
                location.href = '<%- url_for("/") %>';
            }
        }
    })();
</script>
<% } %>

<main>
    <%- partial('_partial/post-detail.ejs') %>
</main>

<% if (theme.mathjax && theme.mathjax.enable && page.mathjax && typeof theme.mathjax.cdn !== 'undefined') { %>
<script src="<%- theme.mathjax.cdn %>"></script>
<script>
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
    });
</script>
<% } %>
